{% extends 'f_base.html' %}
{% load user_filters %}
{% load static %}


{% block content %}

<div style = "background-color:blanchedalmond; height:max-content" ><br><br>
  <table class="table-auto mx-auto w-full mt-8 border-collapse">
      <thead style="background-color:rgb(34, 34, 74); color:white">
        <tr  class="uppercase font-semibold text-sm">
          <th class="border border-black px-4 py-2"></th>
          <th class="border border-black px-4 py-2">Email</th>
          <th class="border border-black px-4 py-2">Name</th>
          <th class="border border-black px-4 py-2">Status</th>
        </tr>
      </thead>
      <tbody>

        {% for user in users %}
        <tr style="background-color:rgb(191, 203, 208);color:blue;">
        <td>
          {% if user.images %}
            <img class="card-img-top" src="{{user.images.url}}" style="width:100px; height: 100px;"alt="Card image cap">
          {% else %}
          <img src="{% static 'images/profile88.png' %}" class="rounded float-right" height="100px" width="100px">
          {% endif %}
        </td>


          <td class="border border-blue-900 px-4 py-2">
            <a href="/follow_user/see_user_profile/?user={{user.id}}">{{ user.email }}</a>
          </td>

          <td class="border border-blue-900 px-4 py-2">{{user.first_name}}</td>
          <td style="text-align: center;">
            <a href="/follow_user/update_status/?user={{ user.id }}"><button type="button" class="btn btn-primary" >Follow</button></a>
          </td> 
        </tr> 	
        {% endfor %}

       </tbody>
  </table>
</div>
{% endblock %}