{% extends 'f_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<center> 

{% if message %}
<div>{{ message}}</div>
{% endif %}

<br><br>

<form method="POST" action="" >
{% csrf_token %}

<h4>Change Password</h4>  <br<br><br>

<label>Email : </label>
<!-- <input type="text" name="email"> <br><br> -->
<!-- <input type="text" value="Default Value"> -->
<input type="text" name="email" value="{{request.user.email }}" readonly>   <br><br>


<label>Password : </label>
<input type="text" name="password">  <br><br>

<label>New Password : </label>
<input type="text" name="new_password">  <br><br>

<input type="submit" value="Change Password" >
</form>

</center>

{% endblock %}