{% extends 'f_base.html' %}

{% block content %}
<a href="{% url 'follow_user:post' %}" class="btn btn-secondary">Add Food</a>

<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-2">All Post</h1>  <hr/>
<div style = "background-color:blanchedalmond; height:max-content" ><br><br>


    <table class="table-auto mx-auto w-full mt-8 border-collapse">
      <thead style="background-color:rgb(34, 34, 74); color:white">
        <tr  class="uppercase font-semibold text-sm">
          <th class=" border border-black px-4 py-2">Title</th>
          <th class=" border border-black px-4 py-2" >Image</th>
          <th class=" border border-black px-4 py-2">Time</th>
        </tr>
      </thead>

      <tbody>

        {% for post in user_post %}
        <tr style="background-color:gray;color:white;">
          <td class="border border-blue-900 px-4 py-2">{{post.title}}</td>
          <td>
            <img class="card-img-top" src="{{post.image.url}}" style="width:260px; height: 150px;"
                alt="Card image cap">
          </td>
          <td class="border border-blue-900 px-4 py-2">{{post.created_at}}</td>
        {% endfor %}

       </tbody>
      </table>
</div>
{% endblock %}