<div class="chat-container">
    <div class="main">
    <div class="logo">
        Chatting
    </div>

    <div class="sub-main">
        <div class="main-user">
            <img src="" alt="profile picture"/>
        </div>
    
        <p>username</p>
    </div> 

    <div class="header">Messages</div>
    <div class = "friends-container">
        <a href="#" style="color:black;text-decoration: none">
        <div class="friends">
            <div class = "pic">
                <img src="" alt="" />
            </div>

            <div class="name">
                <h5>John Doe</h5>
                <p>How are you doing today</p>
            </div>

            <div class ="time_new_msg">
                


<div class="msg">0</div>
</div>
</div>
</a>

<a href="#" style="color:black;">
    <div class="friends">
        <div class = "pic">
            <img src="" alt="" />
        </div>

        <div class="name">
            <h5>John Doe</h5>
            <p>How are you doing today</p>
        </div>

        <div class ="time_new_msg">

            <div class="msg">0</div>
        </div>
    </div>
</a>
</div>

<div class="footer">
    <div>
        <svg 
        xmlns  = "http://www.w3.org/2000/svg"
        width = "26"
        height = "26"
        fill = "currentColor"
        class = "bi bi-person-plus"
        viewbox = "0 0 16  16"
        >
        <path d="M6 8a3 3 0 "
